@import "../variables.scss";
@import "../configuration.scss";

.about-me-info {
  max-width: 900px;
  background-color: $mainBackground;
  // box-shadow: 0 0 1.2rem rgba(102, 252, 241, 0.5);
  padding: 50px;
  position: relative;
  left: 50%;
  right: 50%;
  transform: translateX(-50%);
  z-index: 1;
}
