<div class="container about" id="about-container">
    <h1>About me</h1>
    <div class="about-me-info" [@zoom]>
      <p>I am a PhD student from ONERA. I am working with Complex-Valued Neural Networks for Radar Applications. Half my scholarship is payed by the DGA (Direction Générale de l'Armement).</p>
      <p>I have a degree in Electronics Fngineering from ITBA, one of the most prestigious engineering schools in my country.</p>
      <p>I also have the pleasure of studying at Ecole Polytechnique, one of the best Grandes Ecole's in France and working in Cisco Systems, one of America's biggest multinational technology enterprise based in Silicon Valley.</p>
    </div>
</div>
