<div class="container about" id="about-container">
    <h1>About me</h1>
    <div class="about-me-info" [@zoom]>
      <p>I am a PhD student from ONERA. Half my scholarship is payed by the DGA (Direction Générale de l'Armement).</p>
      <p>I have a degree in Electronics Fngineering from ITBA, one of the most prestigious engineering schools in my country.</p>
      <p>I also have the pleasure of studying and working in very prestigious institutions like Cisco Systems and the Ecole Polytechnique, one of the best Grandes Ecole's in France.</p>
    </div>
</div>
