<div id="about-container" class="flex column-wrap center-center">
  <h1 class="section-title section-title-secondary">ABOUT ME</h1>
  <div class="about-me-info" [@zoom]>
    <p class="p-content p-content-primary">
      I am a PhD student from ONERA. I am working with Complex-Valued Neural
      Networks for Radar Applications. Half my scholarship is payed by the DGA
      (Direction Générale de l'Armement).
    </p>
    <p class="p-content p-content-primary">
      I have a degree in Electronics Engineering from ITBA, one of the most
      prestigious engineering schools in my country.
    </p>
    <p class="p-content p-content-primary">
      I also have the pleasure of studying at Ecole Polytechnique, one of the
      best Grandes Ecole's in France and working in Cisco Systems, one of
      America's biggest multinational technology enterprise based in Silicon
      Valley.
    </p>
  </div>
</div>
