<div id="body">
  <!--<script src="src/app/timeline/modernizr.js"></script>-->
  <script src="src/app/timeline/smoothmain.js"></script>
  <script src="src/app/timeline/jquery-2.0.3.min.js"></script>

  <!--<header>
    <form>
      <div class="multiselect">
        <div class="selectBox" (click)="showCheckboxes()">
          <select>
            <option>Filter Timeline</option>
          </select>
          <div class="overSelect"></div>
        </div>
      </div>
    </form>
  </header>-->
  <div class="sidebar">
    <ul>
      <li>
        <button (click)="showCheckboxes()">Type<i class="fas fa-angle-right" *ngIf="!expanded"></i><i class="fas fa-angle-left" *ngIf="expanded"></i></button>
      </li>
      <li>
        <button (click)="showTags()">Tag<i class="fas fa-angle-right" *ngIf="!tagExpanded"></i><i class="fas fa-angle-left" *ngIf="tagExpanded"></i></button>
      </li>
    </ul>
    <div id="type_checkboxes">
      <div class="check_item">
        <input class="label__checkbox" type="checkbox" id="select-all" [(ngModel)]="selectAll" [ngModelOptions]="{standalone: true}" (ngModelChange)="changeToCheckbox()"/>
        <label for="select-all"><span id="selectallspan">Deselect All</span></label>
      </div><div class="check_item">
        <input class="label__checkbox" type="checkbox" id="education" [(ngModel)]="listFilter['education']" [ngModelOptions]="{standalone: true}" (ngModelChange)="changeToCheckbox()"/>
        <label for="education" [ngStyle]="{'color': listFilter.education? '#B48B7D' : 'white', 'border-color': listFilter.education? '#B48B7D' : 'white'}"><i class="{{'education' | logopipe}}"></i> Education</label>
      </div><div class="check_item">
        <input class="label__checkbox" type="checkbox" id="experience" [(ngModel)]="listFilter['experience']" [ngModelOptions]="{standalone: true}" (ngModelChange)="changeToCheckbox()"/>
        <label for="experience" [ngStyle]="{'color': listFilter.experience? '#DABECA' : 'white', 'border-color': listFilter.experience? '#DABECA' : 'white'}"><i class="{{'experience' | logopipe}}"></i> Work Experience</label>
      </div><div class="check_item">
        <input class="label__checkbox" type="checkbox" id="teaching" [(ngModel)]="listFilter['teaching']" [ngModelOptions]="{standalone: true}" (ngModelChange)="changeToCheckbox()"/>
        <label for="teaching" [ngStyle]="{'color': listFilter.teaching? '#7FC6A4' : 'white', 'border-color': listFilter.teaching? '#7FC6A4' : 'white'}"><i class="{{'teaching' | logopipe}}"></i> Teachings</label>
      </div><div class="check_item">
        <input class="label__checkbox" type="checkbox" id="publication" [(ngModel)]="listFilter['publication']" [ngModelOptions]="{standalone: true}" (ngModelChange)="changeToCheckbox()"/>
        <label for="publication" [ngStyle]="{'color': listFilter.publication? '#6CA6C1' : 'white', 'border-color': listFilter.publication? '#6CA6C1' : 'white'}"><i class="{{'publication' | logopipe}}"></i> Publications</label>
      </div><div class="check_item">
        <input class="label__checkbox" type="checkbox" id="course" [(ngModel)]="listFilter['course']" [ngModelOptions]="{standalone: true}" (ngModelChange)="changeToCheckbox()"/>
        <label for="course" [ngStyle]="{'color': listFilter.course? '#FFAD69' : 'white', 'border-color': listFilter.course? '#FFAD69' : 'white'}"><i class="{{'course' | logopipe}}"></i> Courses</label>
      </div><div class="check_item">
        <input class="label__checkbox" type="checkbox" id="competition" [(ngModel)]="listFilter['competition']" [ngModelOptions]="{standalone: true}" (ngModelChange)="changeToCheckbox()"/>
        <label for="competition" [ngStyle]="{'color': listFilter.competition? '#F5E663' : 'white', 'border-color': listFilter.competition? '#F5E663' : 'white'}"><i class="{{'competition' | logopipe}}"></i> Competitions</label>
      </div><div class="check_item">
        <input class="label__checkbox" type="checkbox" id="misc" [(ngModel)]="listFilter['misc']" [ngModelOptions]="{standalone: true}" (ngModelChange)="changeToCheckbox()"/>
        <label for="misc" [ngStyle]="{'color': listFilter.misc? '#D6F8D6' : 'white', 'border-color': listFilter.misc? '#D6F8D6' : 'white'}"><i class="{{'misc' | logopipe}}"></i> Miscellaneous</label>
      </div>
    </div>
    <div class="container" id="tag_checkboxes">
      <ul class="ks-cboxtags" *ngFor='let tag of tagsOfEvents'>
        <li><input type="checkbox" id="{{tag}}" value="{{tag}}" (change)="toggleTag(tag)"><label for="{{tag}}">{{tag}}</label></li>
      </ul>
    </div>
  </div>
  <section id="cd-timeline" class="cd-container">
    <!--<cdk-virtual-scroll-viewport itemSize="400">-->
      <div class="cd-timeline-block" *ngFor='let event of filteredEvents; let i = index' (appear)="onAppear(i)"> <!--[@fadeInOut]-->
        <span class="container-all" *ngIf="hasAppeared[i]">
          <div class="cd-timeline-img {{event.eventName}}">
            <i class="{{event.eventName | logopipe}}"></i>
          </div> <!-- cd-timeline-img -->
          <div class="cd-timeline-content">
              <h2 [@zoom]>{{event.role}}</h2>
              <h3 *ngIf="event.department as dept" [@zoom]> {{dept}} </h3>
              <h3 [@zoom]>{{event.enterprise}}</h3>
              <div class="editor" [@zoom]>
                <p>{{event.description}}</p>
                <div class="tags" *ngIf="event.tags as tags">
                  <i class="fas fa-tags" style="color: white;"></i>
                  <button *ngFor='let tag of tags'>{{tag}}</button>
                </div>
                <div *ngIf="event.certificate as cert">
                  <a href={{cert}}><i class="fas fa-link" style="color: #ffffff;" ></i></a>
                </div>
              </div>
              <div class="wrap"> 
                <span class="cd-date">
                  <i class="far fa-calendar-alt" [@fadeInOut]></i>
                  <ng-container *ngIf="event.startDate | date:'MM/yyyy' as start">
                    {{start}} -
                  </ng-container>
                  {{event.endDate | date:"MM/yyyy" }}
                </span>
                <img class="enterprise-logo" src={{event.logoUrl}} alt="enterprise-logo" [@zoom]>
              </div>
          </div>
        </span>
      </div>
  </section>
</div>