<div id="body">
  <!--<script src="src/app/timeline/modernizr.js"></script>-->
  <script src="src/app/timeline/smoothmain.js"></script>
  <script src="src/app/timeline/jquery-2.0.3.min.js"></script>

  <header>
    <form>
      <div class="multiselect">
        <div class="selectBox" (click)="showCheckboxes()">
          <select>
            <option>Filter Timeline</option>
          </select>
          <div class="overSelect"></div>
        </div>
        <div id="checkboxes">
          <label for="select-all">
            <input type="checkbox" id="select-all" [(ngModel)]="selectAll" [ngModelOptions]="{standalone: true}" (ngModelChange)="changeToCheckbox()"/><span id="selectallspan">Deselect All</span></label>
          <label for="education">
            <input type="checkbox" id="education" [(ngModel)]="listFilter['education']" [ngModelOptions]="{standalone: true}" (ngModelChange)="changeToCheckbox()"/>Education</label>
          <label for="experience">
            <input type="checkbox" id="experience" [(ngModel)]="listFilter['experience']" [ngModelOptions]="{standalone: true}" (ngModelChange)="changeToCheckbox()"/>Work Experience</label>
          <label for="teaching">
            <input type="checkbox" id="teaching" [(ngModel)]="listFilter['teaching']" [ngModelOptions]="{standalone: true}" (ngModelChange)="changeToCheckbox()"/>Teachings</label>
          <label for="publication">
            <input type="checkbox" id="publication" [(ngModel)]="listFilter['publication']" [ngModelOptions]="{standalone: true}" (ngModelChange)="changeToCheckbox()"/>Publications</label>
          <label for="course">
            <input type="checkbox" id="course" [(ngModel)]="listFilter['course']" [ngModelOptions]="{standalone: true}" (ngModelChange)="changeToCheckbox()"/>Courses</label>
          <label for="competition">
            <input type="checkbox" id="competition" [(ngModel)]="listFilter['competition']" [ngModelOptions]="{standalone: true}" (ngModelChange)="changeToCheckbox()"/>Competitions</label>
          <label for="misc">
            <input type="checkbox" id="misc" [(ngModel)]="listFilter['misc']" [ngModelOptions]="{standalone: true}" (ngModelChange)="changeToCheckbox()"/>Miscellaneous</label>
        </div>
      </div>
    </form>
  </header>
  <section id="cd-timeline" class="cd-container">
    <!--<cdk-virtual-scroll-viewport itemSize="400">-->
      <div class="cd-timeline-block" *ngFor='let event of filteredEvents; let i = index' (appear)="onAppear(i)"> <!--[@fadeInOut]-->
        <span class="container-all" *ngIf="hasAppeared[i]">
          <div class="cd-timeline-img {{event.eventName}}">
            <i class="{{event.eventName | logopipe}}"></i>
          </div> <!-- cd-timeline-img -->
    
          <div class="cd-timeline-content">
              <h2 [@zoom]>{{event.role}}</h2>
              <h3 *ngIf="event.department as dept" [@zoom]> {{dept}} </h3>
              <h3 [@zoom]>{{event.enterprise}}</h3>
              <div class="editor" [@zoom]>
                <p>{{event.description}}</p>
                <div class="tags" *ngIf="event.tags as tags">
                  <i class="fas fa-tags" style="color: white;"></i>
                  <button *ngFor='let tag of tags'>{{tag}}</button>
                </div>
                <div *ngIf="event.certificate as cert">
                  <a href={{cert}}><i class="fas fa-link" style="color: #ffffff;" ></i></a>
                </div>
              </div>
              <div class="wrap"> 
                <span class="cd-date">
                  <i class="far fa-calendar-alt" [@fadeInOut]></i>
                  <ng-container *ngIf="event.startDate | date:'MM/yyyy' as start">
                    {{start}} -
                  </ng-container>
                  {{event.endDate | date:"MM/yyyy" }}
                </span>
                <img class="enterprise-logo" src={{event.logoUrl}} alt="enterprise-logo" [@zoom]>
              </div>
          </div>
        </span>
      </div>
  </section>
</div>