<div class="container">
  <h1 class="section-title section-title-secondary">CONTACT</h1>
  <div class="contact-info-container flex center-center row-wrap">
    <p class="p-content p-content-secondary">
      <i class="fa fa-map-marker"></i> Paris, France
    </p>
    <p class="p-content p-content-secondary">
      <i class="far fa-envelope"></i> JoseAgustin.Barra@gmail.com
    </p>
    <p class="p-content p-content-secondary">
      <i class="fas fa-phone"></i> +33 07 66 10 78 33
    </p>
  </div>
</div>
