html {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
}

.intro {
    margin-top: 120px;
    display: flex;
    flex-direction: column;
}

.intro h4 {
	color: #ffffff;
	letter-spacing: 3px;
    word-spacing: 10px;
    font-size: .8rem;
	margin-bottom: 2rem;
	font-weight: 100;
}
  
.intro h1 {
    color: #ffffff;
    font-size: 3rem;
    cursor: context-menu;
}

/*Letters Span*/
.intro span {
    display: inline-block;
}

span:hover,
span.name:hover {
    color: #48CFAD;
	transition: all .5s;
	animation: bounce .3s infinite;
	-webkit-animation: bounce .3s infinite;
	-moz-animation: bounce .3s infinite;
	-o-animation: bounce .3s infinite; 
}

span.name {
    color: #ffffff;
    margin-left: 10px;
}

/*Social Media*/
/* Wrapper */
.icon-button {
	background-color: white;
	border-radius: 2.6rem;
	cursor: pointer;
	display: inline-block;
	font-size: 1.3rem;
	height: 2.6rem;
	line-height: 2.6rem;
	margin: 0 5px;
	position: relative;
	text-align: center;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
	width: 2.6rem;
}

/* Circle */
.icon-button span {
	border-radius: 0;
	display: block;
	height: 0;
	left: 50%;
	margin: 0;
	position: absolute;
	top: 50%;
	-webkit-transition: all 0.3s;
	   -moz-transition: all 0.3s;
	     -o-transition: all 0.3s;
	        transition: all 0.3s;
	width: 0;
}
.icon-button:hover span {
	width: 2.6rem;
	height: 2.6rem;
	border-radius: 2.6rem;
	margin: -1.3rem;
}

/* Icons */
.icon-button i {
	background: none;
	height: 2.6rem;
	left: 0;
	line-height: 2.6rem;
	position: absolute;
	top: 0;
	-webkit-transition: all 0.3s;
	   -moz-transition: all 0.3s;
	     -o-transition: all 0.3s;
	        transition: all 0.3s;
	width: 2.6rem;
    z-index: 10;
}

i:hover {
    color: #ffffff;
}

.fa-facebook-f {
    color: #3b5998;
}
.facebook span {
	background-color: #3b5998;
}

.fa-twitter {
    color: #00acee;
}
.twitter span {
	background-color: #00acee;
}

.fa-linkedin-in {
    color: #0072b1;
}
.linkedin span {
    background-color: #0072b1;
}

.fa-github {
    color: #171515;
}
.github span {
    background-color: #171515;
}

.fa-stack-overflow {
    color: #F47F24;
}
.stackoverflow span {
    background-color: #F47F24;
}

@-webkit-keyframes bounce {
    0%,  
    100% {
       -webkit-transform: translateY(0);
    } 
    50% {
        -webkit-transform: translateY(-10px);
    }
}
@-moz-keyframes bounce {
    0%, 
    100% {
       -moz-transform: translateY(0);
    }
    50% {
       -moz-transform: translateY(-10px);
    }
}
@-o-keyframes bounce {
    0%,
    100% {
       -o-transform: translateY(0);
    }
    50% {
       -o-transform: translateY(-10px);
    }
}
@keyframes bounce {
    0%,  
    100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}

.profile-image img  {
  width: 300px;

  /*margin-left: 50px;*/
  /*position: relative;
  top: 50px;
  left: calc(100% - 100px);
  right: calc(100% - 100px);
  transform: translateX(calc(-100% + 100px));*/
}