@import "../variables.scss";

// Profile image
.profile-image {
  transition: transform 0.2s; /* Animation */
  &:hover {
    transform: scale(1.2);
  }
  & > img {
    width: min(300px, 65vw);
  }
}

// Main information
.intro {
  display: flex;
  flex-direction: column;
  & > h1 {
    font-size: min(8vw, 3rem);
    cursor: default;
  }
  & > h4 {
    letter-spacing: 3px;
    word-spacing: 10px;
    margin-bottom: 2rem;
    font-weight: 100;
  }
}

/*Letters Span*/
.intro span {
  display: inline-block;

  &:hover, &.name:hover  {
    color: $secondaryText;
    transition: all 0.5s;
    animation: bounce 0.3s infinite;
    -webkit-animation: bounce 0.3s infinite;
    -moz-animation: bounce 0.3s infinite;
    -o-animation: bounce 0.3s infinite;
  }
  &.name {
    margin-left: 10px;
  }
}

// Social Media icons
.icon-button {
  /* Wrapper */
  display: inline-block;
  background-color: $secondaryColor;
  border-radius: 2.6rem;
  font-size: 1.3rem;
  width: 2.6rem;
  height: 2.6rem;
  line-height: 2.6rem;
  margin: 2px 5px;
  position: relative;
  text-align: center;
  cursor: pointer;

  /* Circle */
  & span {
    border-radius: 0;
    display: block;
    height: 0;
    left: 50%;
    margin: 0;
    position: absolute;
    top: 50%;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    width: 0;
  }
  &:hover span {
    width: 2.6rem;
    height: 2.6rem;
    border-radius: 2.6rem;
    margin: -1.3rem;
  }

  /* Icons */
  & i {
    background: none;
    height: 2.6rem;
    left: 0;
    line-height: 2.6rem;
    position: absolute;
    top: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    width: 2.6rem;
    z-index: 10;
    &:hover {
      color: #ffffff;
    }
  }
}

.fa-facebook-f {
  color: #3b5998;
}
.facebook span {
  background-color: #3b5998;
}

.fa-twitter {
  color: #00acee;
}
.twitter span {
  background-color: #00acee;
}

.fa-linkedin-in {
  color: #0072b1;
}
.linkedin span {
  background-color: #0072b1;
}

.fa-github {
  color: #171515;
}
.github span {
  background-color: #171515;
}

.fa-stack-overflow {
  color: #f47f24;
}
.stackoverflow span {
  background-color: #f47f24;
}

.fa-orcid {
  color: #a5cd36;
}
.orcid span {
  background-color: #a5cd36;
}

.fa-instagram {
  color: #fd5949;
}
.instagram span {
  background-color: #fd5949;
}

// Bounce method to create the effect on letter-span
@-webkit-keyframes bounce {
  0%,
  100% {
    -webkit-transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-10px);
  }
}
@-moz-keyframes bounce {
  0%,
  100% {
    -moz-transform: translateY(0);
  }
  50% {
    -moz-transform: translateY(-10px);
  }
}
@-o-keyframes bounce {
  0%,
  100% {
    -o-transform: translateY(0);
  }
  50% {
    -o-transform: translateY(-10px);
  }
}
@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}
