<html>
<div class="intro" [@EnterFromLeft]>
    <h1>
        <span>H</span>
        <span class="m-left">i</span>
        <span class="m-left">,</span>
        <br>
        <span>I</span>
        <span class="m-left">'</span>
        <span class="m-left">m</span>
        <span class="name">A</span>
        <span class="m-left">g</span>
        <span class="m-left">u</span>
        <span class="m-left">s</span>
        <span class="m-left">t</span>
        <span class="m-left">i</span>
        <span class="m-left">n</span>
    </h1>
    <h4>Machine Learning | Signal Processing</h4>

    <div class="social-media">
        <a href="https://www.instagram.com/agustinbarrachina/" class="icon-button instagram"><i class="fab fa-instagram"></i><span></span></a>
        <a href="https://twitter.com/AgusBarrachina" class="icon-button twitter"><i class="fab fa-twitter"></i><span></span></a>
        <a href="https://www.facebook.com/joseagustin.barra/" class="icon-button facebook"><i class="fab fa-facebook-f"></i><span></span></a>
        <a href="https://www.linkedin.com/in/jose-agustin-barrachina/" class="icon-button linkedin"><i class="fab fa-linkedin-in"></i><span></span></a>
        <a href="https://github.com/NEGU93" class="icon-button github"><i class="fab fa-github"></i><span></span></a>
        <a href="https://stackoverflow.com/users/5931672/agustin-barrachina" class="icon-button stackoverflow"><i class="fab fa-stack-overflow"></i><span></span></a>
        <a href="https://orcid.org/0000-0002-2139-514X" class="icon-button orcid"><i class="fab fa-orcid"></i><span></span></a>
    </div>
</div>

<div class="profile-image" [@EnterFromRight]>
    <img src="assets/images/profile-image.png" alt="Jose Agustin BARRACHINA">
</div>
</html>