<header>
  <div class="menu-toggler">
      <div class="bar half start"></div>
      <div class="bar"></div>
      <div class="bar half end"></div>
  </div>
  <nav class="top-nav">
      <ul class="nav-list">
        <li><a class='nav-link' [routerLink]="['/home']" (click)="closeNav()">Home</a></li>
        <li><a class='nav-link' [routerLink]="['/timeline']" (click)="closeNav()">Timeline</a></li>
        <li><a class='nav-link' [routerLink]="['/languages']" (click)="closeNav()">Languages</a></li>
      </ul>
  </nav>
</header>

<div class='container'>
  <router-outlet></router-outlet>
</div>
<!-- <footer class="copyright flex row-wrap space-between-center">
  <div class="flex column-wrap center">
    <p class="flex row center"><i class="far fa-copyright"></i>: 2020 J. Agustin BARRACHINA</p>
    <p class="flex row center"><i class="fab fa-angular"></i>: Powered by Angular</p>
  </div>  
  <div class="up" id="up">
    <i class="fas fa-chevron-up" (click)="scrollToTop()"></i><span></span>
  </div>
</footer> -->