<header>
  <div class="menu-toggler">
      <div class="bar half start"></div>
      <div class="bar"></div>
      <div class="bar half end"></div>
  </div>
  <nav class="top-nav">
      <ul class="nav-list">
        <li><a class='nav-link' [routerLink]="['/home']" (click)="closeNav()">Home</a></li>
        <li><a class='nav-link' [routerLink]="['/timeline']" (click)="closeNav()">Timeline</a></li>
      </ul>
  </nav>
</header>

<div class='container'>
  <router-outlet></router-outlet>
</div>
<footer class="copyright">
  <!--<div class="up" id="up">
    <i class="fas fa-chevron-up" (click)="scrollToTop()"></i><span></span>
  </div>-->
  <p><i class="far fa-copyright"></i>: 2020 J. Agustin BARRACHINA</p>
  <p><i class="fab fa-angular"></i>: Powered by Angular</p>
</footer>