header {
    width: 100%;
    /*height: 100vh;*/
}

a {
    text-decoration: none;
    color: #eee
}

body {
    background-color: #5A6B7D;
}

.top-nav {
    width: 100%;
    position: fixed;
    top: -100vh;
    z-index: 50;
    background-color: #34495e;
    border-bottom-right-radius: 100%;
    border-bottom-left-radius: 100%;
    transition: all 650ms cubic-bezier(1, 0, 0, 1)
}

.nav-list {
    list-style: none;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

li {
    margin: 0 2rem;
}

.nav-link{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 5rem;
    padding: 1rem;
    font-weight: 100;
}

.nav-link:hover,
.nav-link:focus {
    background: #b1b1b1;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.top-nav.open {
    top: 0;
    border-radius: initial;
}

.menu-toggler {
    position: absolute;
    top: 5rem;
    right: 5rem;
    width: 5rem;
    height: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    z-index: 1500;
    transition: transform 650ms ease-out;
}

.menu-toggler.open {
    transform: rotate(-45deg);
}

.bar {
    background: #b1b1b1;
    width: 100%;
    height: 4px;
    border-radius: .8rem;
}

.bar.half {
    width: 50%;
}

.bar.start{
    transform-origin: right;
    transition: transform 650ms cubic-bezier(0.54, 0.81, 0.57, 0.57);
}

.open .bar.start {
    transform: rotate(-450deg) translateX(.8rem);
}

.bar.end{
    align-self: flex-end;
    transform-origin: left;
    transition: transform 650ms cubic-bezier(0.54, 0.81, 0.57, 0.57);
}

.open .bar.end {
    transform: rotate(-450deg) translateX(-.8rem);
}

/*footer*/
footer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    min-height: 150px;
    text-align: center;
    background-color: #5A6B7D;
    padding: 2rem 0;
    position: relative;
}

.up {
    position: absolute;
    width: 5rem;
    height: 5rem;
    background-color: #5A6B7D;
    /*top: -2rem;*/
    right: 5rem;
    border-radius: 100%;
    display: flex;
    animation: pulse 2s infinite;
}

.up i {
    color: #b1b1b1 ;
    font-size: 2rem;
    margin: auto;
}

.up:hover i {
    color: black;
}

.copyright p {
    font-size: 1.4rem;
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.99);
    }
    70% {
        box-shadow: 0 0 0 2rem rgba(0, 0, 0, 0);
    }
    100% {
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.99);
    }
}