<!-- <h1 class="section-title section-title-secondary">LANGUAGES</h1> -->
<div class="language-category flex row-wrap space-evenly-center">
  <button
    id="human"
    [ngClass]="{ active: currentCategory === 'human' }"
    (click)="setCategory('human')"
    class="button-rounded"
  >
    Human
  </button>
  <button
    id="computer"
    [ngClass]="{ active: currentCategory === 'computer' }"
    (click)="setCategory('computer')"
    class="button-rounded"
  >
    Computer
  </button>
  <button
    id="web"
    [ngClass]="{ active: currentCategory === 'web' }"
    (click)="setCategory('web')"
    class="button-rounded"
  >
    Web Development
  </button>
</div>

<div *ngIf="currentCategory === 'human'" class="category-human">
  <app-human></app-human>
</div>
<div *ngIf="currentCategory === 'computer'" class="category-computer">
  <app-computer></app-computer>
</div>
<div *ngIf="currentCategory === 'web'" class="category-app">
  <app-web></app-web>
</div>
