<div>
    <h1>Complex-Valued Neural Networks (CVNN) toolbox</h1>
    <p>Library to implement a complex-valued neural network (cvnn) using tensorflow as back-end</p>
</div>
<div>
    <ul *ngIf="githubRepoStatus">
        <li *ngFor='let item of infoKeys | keyvalue'>
            <i class="{{item.value['logo']}}"></i>
            <!-- <i class="fas fa-star fa-lg"></i>  -->
            {{item.key}}: {{githubRepoStatus[item.value['key']]}}
        </li>
    </ul>
</div>
<div>
    <a href="https://doi.org/10.5281/zenodo.4452131"><img src="https://zenodo.org/badge/DOI/10.5281/zenodo.4452131.svg" alt="DOI"></a>
    <a href="https://complex-valued-neural-networks.readthedocs.io/en/latest/?badge=latest"><img src="https://readthedocs.org/projects/complex-valued-neural-networks/badge/?version=latest" alt="Documentation Status"></a>
    <a href="https://badge.fury.io/py/cvnn"><img src="https://badge.fury.io/py/cvnn.svg" alt="PyPI version"></a>
    <a href="https://anaconda.org/negu93/cvnn"><img src="https://img.shields.io/conda/v/NEGU93/cvnn.svg" alt="Anaconda cvnn version"></a>
</div>
<div>
    <a href="https://doi.org/10.5281/zenodo.4452131"><img src="assets/images/logos/programming/zenodo-gradient-2500.png" alt="Zenodo"></a>
    <a href="https://github.com/NEGU93/cvnn"><img src="assets/images/logos/programming/GitHub-Logo.png" alt="Github"></a>
    <p>Tools:</p>
    <a href="https://www.tensorflow.org/"><img src="assets/images/logos/programming/1229px-TensorFlowLogo.png" alt="TensorFlow"></a>
    <a href="https://docs.pytest.org/"><img src="assets/images/logos/programming/Pytest_logo.png" alt="pyTest"></a>
</div>
