<div class="language-view" style="height: auto; max-width: 70vw;">
    <div class="skillbars" data-color="#45a29e" data-pr="85%" data-cap="English" data-height="10px">
      <p>CAE C1 | <a href="assets/pdf/idiomas/toiec.pdf" 
        onclick="openPdf(event, 'assets/pdf/idiomas/toiec.pdf', 'newpage.html');">TOIEC</a>: Score 940/990</p>
    </div>
    <div class="skillbars" data-color="#45a29e" data-pr="100%" data-cap="Spanish" data-height="10px"></div>
    <div class="skillbars" data-color="#45a29e" data-pr="75%" data-cap="French" data-height="10px">
      <p>
        <a href="assets/pdf/idiomas/delf.pdf" 
        onclick="openPdf(event, 'assets/pdf/idiomas/delf.pdf', 'newpage.html');">DELF</a> A2 | <a href="assets/pdf/idiomas/tcf.pdf" 
        onclick="openPdf(event, 'assets/pdf/idiomas/tcf.pdf', 'newpage.html');">TCF</a> B2</p>
    </div>
  </div>
