@import "../../variables.scss";
@import "../../general-components.scss";
@import "../../configuration.scss";

.skill-bar-container {
  row-gap: 34px;
}

.skill-bar {
  position: relative;
  width: 80vw;
  height: 25px;
  background-color: $fourthColor;
  transform: scaleX(0);
  transform-origin: left;
  animation: animate 1s cubic-bezier(1, 0, 0.5, 1) forwards;

  & .skill-bg {
    position: absolute;
    background-color: $mainBackground;
    height: 100%;
    width: 67%;
    transform: scaleX(0);
    transform-origin: left;
    animation: animate 1.3s cubic-bezier(1, 0, 0.5, 1) 1s forwards;
  }
}

@keyframes animate {
  100% {
    transform: scaleX(1);
  }
}
