<div class="skill-bar-container flex column center-center">
  <div>
    <h1 class="icon-title-secondary">English</h1>
    <div class="skill-bar">
      <div class="skill-bg flex" style="width: 85%"></div>
    </div>
    <p class="p-details p-details-tertiary">
      C1 | CAE C1 |
      <a
        href="assets/pdf/idiomas/toiec.pdf"
        onclick="openPdf(event, 'assets/pdf/idiomas/toiec.pdf', 'newpage.html');"
        >TOIEC</a
      >: Score 940/990
    </p>
  </div>

  <div>
    <h1 class="icon-title-secondary">Spanish</h1>
    <div class="skill-bar">
      <div class="skill-bg flex" style="width: 100%"></div>
    </div>
    <p class="p-details p-details-tertiary">Native</p>
  </div>

  <div>
    <h1 class="icon-title-secondary">French</h1>
    <div class="skill-bar">
      <div class="skill-bg flex" style="width: 75%"></div>
    </div>
    <p class="p-details p-details-tertiary">
      <a
        href="assets/pdf/idiomas/delf.pdf"
        onclick="openPdf(event, 'assets/pdf/idiomas/delf.pdf', 'newpage.html');"
        >DELF</a
      >
      A2 |
      <a
        href="assets/pdf/idiomas/tcf.pdf"
        onclick="openPdf(event, 'assets/pdf/idiomas/tcf.pdf', 'newpage.html');"
        >TCF</a
      >
      B2
    </p>
  </div>
</div>
