h1 {
    margin-top: 1rem;
    color: #34495e;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 100;
    /*text-transform: uppercase;*/
}

h2 {
    color: #34495e;
    font-weight: 100;
    margin-bottom: 1rem;
}

.container {
    width: 100%;
    margin: 50px 0;
}

.resume-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    flex-wrap: wrap;
    margin-top: 2rem;
}

.full-link {
    width: 300px;
}


.resume-buttons button {
    /*width: 300px;*/
    text-transform: capitalize;
    border: 3px solid #34495e;
    padding: 15px 30px;
    border-radius: 50px;
    color: #34495e;
    font-size: 1.1rem;
    letter-spacing: 1px;
    background-color: #b1b1b1;
    outline: none;
    cursor: pointer;
}

.resume-buttons i {
    top: 100px;
}

.resume-buttons i:hover {
    top: 0;
}

.resume-buttons span:hover {
    top: -100px;
}

.resume-buttons button:hover {
    color: #b1b1b1;
}

.resume-buttons button:hover {
    background-color: #34495e;
    transition: .5s;
}

.cv-download {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.language {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-right: 2.5%;
    margin-left: 2.5%;
    margin-bottom: 3%;
    margin-top: 2%;
}





/*Download button*/
.button {
    margin-top: 3rem;
    display: -webkit-inline-box;
    display: inline-flex;
    height: 40px;
    width: 150px;
    border: 2px solid #34495e;
    margin: 20px 20px 20px 20px;
    color: #34495e;
    text-transform: uppercase;
    text-decoration: none;
    font-size: .8em;
    letter-spacing: 1.5px;
    -webkit-box-align: center;
            align-items: center;
    -webkit-box-pack: center;
            justify-content: center;
    overflow: hidden;
}
  
#download-cv span {
    color: #34495e;
    text-decoration: none;
    letter-spacing: 1px;
}

#download-cv {
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

#download-cv span {
    position: relative;
    left: 0;
    -webkit-transition: all .35s ease-Out;
    transition: all .35s ease-Out;
}

#download-cv a {
    text-decoration: none;
}

#down-arrow {
    width: 100%;
    height: 100%;
    background: #34495e;
    left: -200px;
    position: absolute;
    padding: 0;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
            align-items: center;
    -webkit-box-pack: center;
            justify-content: center;
    -webkit-transition: all .35s ease-Out;
    transition: all .35s ease-Out;
    bottom: 0;
}

#download-cv i {
    color: #b1b1b1;
}

#download-cv:hover #down-arrow {
    left: 0;
}

#download-cv:hover span {
    left: 150px;
}



