@import './app/variables.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Bungee", sans-serif;
    scroll-snap-type: y proximity;
}
html {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
}
html {
    scroll-behavior: smooth;
}

html, body { height: 100%; }
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: $secondaryBackground;
    color: $primaryText;
}

footer {
    display: flex;
    flex-direction: column;
}

h1 {
    margin-top: 1rem;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 100;
}
