* {
    background-color: #b1b1b1;
    display: flex;
    flex: 0 0 100%;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#home{
	display: flex;
	flex-wrap: wrap;
	flex: 0 0 100%;
	background-color: #5A6B7D;
	padding: 0 100px 0 100px;
	align-items: center;
	flex-direction: row;
	justify-content: space-evenly;
    width: 100%;
    height: calc(100vh);
} 

#contact {
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #5A6B7D;
    flex: 0 0 100%;
    flex-wrap: wrap;
}

#about {
    background-color: #5A6B7D;
    height: calc(100vh);
}

#languages, #resume, #about {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#resume, #about {
    text-align: center;
}

h1 {
    margin-top: 1rem;
    color: #34495e;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 100;
    /*text-transform: uppercase;*/
}

footer {
    display: flex;
    flex-direction: column;
}