<div class="awards">
    <h1>Awards</h1>
    <div class="wayr-award">
        <img src="assets/images/logos/logo-reddit.png" alt="Reddit-WAYR">
        <p>Selected as most upvoted paper on WAYR (What Are You Reading) r/MachineLearning sub-reddit of week 116</p>
        <iframe id="reddit-embed" src="https://www.redditmedia.com/r/MachineLearning/comments/odrudt/d_machine_learning_wayr_what_are_you_reading_week/?ref_source=embed&amp;ref=share&amp;embed=true" sandbox="allow-scripts allow-same-origin allow-popups" style="border: none;" height="915" width="640" scrolling="no"></iframe>
    </div>
    <div class="grss-award"> 
        <img src="assets/images/logos/publish/grss.png" alt="GRSS">
        <p>3MT Prize Award Finalist https://www.igarss2022.org/3MT.php</p>
        <p>3-Minute-Thesis (3MT), founded by the University of Queensland, is an academic competition that cultivates students presentation and research communication skills and challenges them to describe their research within three minutes to a non-specialist audience with one static slide.</p>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/Zws7TBNHn9A" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>    
    </div>
    <div>
        <img src="assets/images/logos/publish/ieee-sp.png" alt="MLSP">
        <p>Ranked as top 15% on reviewer score at MLSP 2021 (see published works)</p>
        <p>Invited to publish a paper on the Journal of Signal Processing Systems (JSPS) Special Issue on Machine Learning for Signal Processing (SI-MLSP2021)</p>
        <div class="email">
            <p>
                From: Microsoft CMT
                Date: 23 novembre 2021 à 12:38:01 UTC+1
                To: Jean-Philippe Ovarlez
                Subject: Indication of Interest Letter from JSPS, Special Issue on MLSP 2021
            </p>
            <p>
                Thank you for submitting the paper "About the equivalence between complex-valued and real-valued fully connected neural networks - application to PolInSAR images" to MLSP 2021, and congratulations on its acceptance. We are pleased to inform you of another great opportunity: Journal of Signal Processing System (IF=1.348), Special Issue on MLSP 2021. 
    
                As the reviewer score of your paper ranks top 15% among all submissions, we would like to recommend it to this special issue, provided that you are interested in this opportunity to make a broader impact. To this end, we ask that you extend your work considerably. 
    
            </p>
        </div>
    </div>
</div>

<div>
    <h1>Publications</h1>
    <ul *ngFor='let publication of publications' class="publication-list">
        <li *ngIf="publication.type == 'Journal' || publication.type == 'Proceedings'" [ngStyle]="{'font-weight': publication.publisher.toLowerCase().includes(hoverPublisher) ? 'bold' : 'normal'}">
            <p *ngFor="let author of publication.authors">{{author}}, </p>
            <p>"{{publication.title}}" </p>
            <p *ngIf="publication.journal as journal"><em> in {{journal}},</em></p>
            <p><em> {{publication.publisher}},</em></p>
            <p *ngIf="publication.location as location"> {{location}},</p>
            <p *ngIf="publication.pages as pages"> pp. {{pages}},</p>
            <p> {{publication.year.getFullYear()}}.</p>
        </li>
    </ul>
</div>
<div class="publishers-icons">
    <img src="assets/images/logos/publish/springer.png" alt="Springer" (mouseenter)="mouseEnter('Springer') "  (mouseleave)="mouseLeave()">
    <img src="assets/images/logos/enterprises/ieee.png" alt="IEEE" (mouseenter)="mouseEnter('IEEE') "  (mouseleave)="mouseLeave()">
    <img src="assets/images/logos/publish/logo-light-300x258.png" (mouseenter)="mouseEnter('Gretsi') "  (mouseleave)="mouseLeave()" alt="Gretsi">
</div>

<div>
    <h1>Miscellaneous</h1>
    <ul *ngFor='let publication of publications' class="publication-list">
        <li *ngIf="publication.type != 'Journal' && publication.type != 'Proceedings'" [ngStyle]="{'font-weight': publication.publisher.toLowerCase().includes(hoverPublisher) ? 'bold' : 'normal'}">
            <p style="font-weight: bold;">{{publication.type}}: </p>
            <p *ngFor="let author of publication.authors">{{author}}, </p>
            <p>"{{publication.title}}" </p>
            <p *ngIf="publication.journal as journal"><em> in {{journal}},</em></p>
            <p><em> {{publication.publisher}},</em></p>
            <p *ngIf="publication.location as location"> {{location}},</p>
            <p *ngIf="publication.pages as pages"> pp. {{pages}},</p>
            <p> {{publication.year.getFullYear()}}.</p>
        </li>
    </ul>
</div>
<!--
    1. Journal JSPS
    4. International conferences
        MLSP
        ICASSP
        IGARSS
        ICIP
    - Misc
        GRETSI
        Summer school poster
        Avignon
        arXiv
    3. Prices
        3mt
        Reddit
        top 15%
-->